@import 'base/variables';
* {
    font-family: "MuseoModerno", sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'base/animatuions';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/corusel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'blocks/media';

