.feed {
    min-height: 920px;
    padding: 0 0 69px 0;
    img {
        width: 100%;
        min-width: 70%;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 60px;
    }
    &__text {
        max-width: 690px;
        min-width: 500px;
        max-height: 250px;
    }
    &__title {
        color: rgb(13, 13, 13);
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 0;
    }
    &__subtitle {
        color: rgb(100, 100, 100);
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 0;
    }
    &__decr {
        font-weight: 300;
        font-size: 16px;
        color: #0d0d0d;
    }
}